<div class="filter-wrapper">
    <a class="d-block filter-toggler collapsed" data-toggle="collapse" data-target="#brand-filter" href="#"
       aria-expanded="false" aria-controls="brandFilter">
        <span class="text-bold">Dle značky</span>
        <i class="icon-menu_arrow icon-flipped float-right mt-1"></i>
    </a>
    <div class="collapse" id="brand-filter">
        <div class="card card-body">
            <div class="btn-group-vertical" data-toggle="buttons">
                <label class="btn btn-check active">
                    <input type="checkbox" checked autocomplete="off" name="category-filter" value="oils">
                    <span class="cat-name d-inline">Castrol</span>
                    <span class="items-amount">50</span>
                </label>
                <label class="btn btn-check active">
                    <input type="checkbox" checked autocomplete="off" name="category-filter" value="fluids">
                    <span class="cat-name d-inline">BP</span>
                    <span class="items-amount">40</span>
                </label>
                <label class="btn btn-check active">
                    <input type="checkbox" checked autocomplete="off" name="category-filter" value="car-accessories">
                    <span class="cat-name d-inline">Aral</span>
                    <span class="items-amount">30</span>
                </label>
            </div>
        </div>
    </div>
</div>