<div class="filter-wrapper">
    <a class="d-block filter-toggler collapsed" data-toggle="collapse" data-target="#category-filter" href="#"
       aria-expanded="false" aria-controls="categoryFilter">
        <span class="text-bold">Kategorie</span>
        <i class="icon-menu_arrow icon-flipped float-right mt-1"></i>
    </a>
    <div class="collapse" id="category-filter">
        <div class="card card-body">
            <div class="btn-group-vertical" data-toggle="buttons">
                <label class="btn btn-check active">
                    <input type="checkbox" checked autocomplete="off" name="category-filter" value="oils">
                    <span class="cat-name d-inline">Oleje a maziva</span>
                    <span class="items-amount">305</span>
                </label>
                <label class="btn btn-check active">
                    <input type="checkbox" checked autocomplete="off" name="category-filter" value="fluids">
                    <span class="cat-name d-inline">Provozní kapaliny</span>
                    <span class="items-amount">284</span>
                </label>
                <label class="btn btn-check active">
                    <input type="checkbox" checked autocomplete="off" name="category-filter" value="car-accessories">
                    <span class="cat-name d-inline">Autopříslušenství</span>
                    <span class="items-amount">151</span>
                </label>
                <label class="btn btn-check active">
                    <input type="checkbox" checked autocomplete="off" name="category-filter" value="accessories">
                    <span class="cat-name d-inline">Autodoplňky</span>
                    <span class="items-amount">56</span>
                </label>
                <label class="btn btn-check active">
                    <input type="checkbox" checked autocomplete="off" name="category-filter" value="auto-cosmetics">
                    <span class="cat-name d-inline">Autokosmetika</span>
                    <span class="items-amount">98</span>
                </label>
                <label class="btn btn-check active">
                    <input type="checkbox" checked autocomplete="off" name="category-filter" value="service-products">
                    <span class="cat-name d-inline">Servisní přípravky</span>
                    <span class="items-amount">91</span>
                </label>
                <label class="btn btn-check active">
                    <input type="checkbox" checked autocomplete="off" name="category-filter" value="other">
                    <span class="cat-name d-inline">Doplňkový sortiment</span>
                    <span class="items-amount">37</span>
                </label>
            </div>
        </div>
    </div>
</div>