<div class="filter-wrapper">
    <a class="d-block filter-toggler collapsed" data-toggle="collapse" data-target="#common-filter" href="#"
       aria-expanded="false" aria-controls="commonFilter">
        <span class="text-bold">Obecná filtrace</span>
        <i class="icon-menu_arrow icon-flipped float-right mt-1"></i>
    </a>
    <div class="collapse" id="common-filter">
        <div class="card card-body">
            <div class="btn-group-vertical" data-toggle="buttons">
                <label class="btn btn-check active">
                    <input type="checkbox" checked autocomplete="off" name="common-filter" value="like">
                    <span class="legend-badge width-text goods-like d-inline">
                                            <span class="legend-text">Oblíbené zboží</span>
                                        </span>
                    <span class="items-amount">15</span>
                </label>
                <label class="btn btn-check">
                    <input type="checkbox" autocomplete="off" name="common-filter" value="taken">
                    <span class="legend-badge width-text goods-taken d-inline">
                                            <span class="legend-text">Odebírané zboží</span>
                                        </span>
                    <span class="items-amount">8</span>
                </label>
                <label class="btn btn-check">
                    <input type="checkbox" autocomplete="off" name="common-filter" value="sale">
                    <span class="legend-badge width-text sale d-inline">
                                            <span class="legend-text">Akce</span>
                                        </span>
                    <span class="items-amount">32</span>
                </label>
                <label class="btn btn-check">
                    <input type="checkbox" autocomplete="off" name="common-filter" value="new">
                    <span class="legend-badge width-text new d-inline">
                                            <span class="legend-text">Novinky</span>
                                        </span>
                    <span class="items-amount">2</span>
                </label>
                <label class="btn btn-check">
                    <input type="checkbox" autocomplete="off" name="common-filter" value="sold-out">
                    <span class="legend-badge width-text sold-out d-inline">
                                            <span class="legend-text">Výprodej</span>
                                        </span>
                    <span class="items-amount">6</span>
                </label>
                <label class="btn btn-check">
                    <input type="checkbox" autocomplete="off" name="common-filter" value="recommended">
                    <span class="legend-badge width-text recommended d-inline">
                                            <span class="legend-text">Doporučujeme</span>
                                        </span>
                    <span class="items-amount">4</span>
                </label>
                <label class="btn btn-check">
                    <input type="checkbox" autocomplete="off" name="common-filter" value="in-stock">
                    <span class="legend-badge width-text in-stock d-inline">
                                            <span class="legend-text">Skladem</span>
                                        </span>
                    <span class="items-amount">56</span>
                </label>
            </div>
        </div>
    </div>
</div>