<ul class="list-unstyled legend">
    <li>
        <span class="legend-badge goods-like"></span>
    </li>
    <li>
        <span class="legend-badge goods-taken"></span>
    </li>
    <li>
        <span class="legend-badge sale"></span>
    </li>
    <li>
        <span class="legend-badge new"></span>
    <li>
        <span class="legend-badge sold-out"></span>
    </li>
    <li>
        <span class="legend-badge recommended"></span>
    </li>
    <li>
        <span class="legend-badge in-stock"></span>
    </li>
</ul>