<!-- Table of ordered items -->
<table class="table table-sm table-responsive products-table nested-table">
    <thead class="thead-default">
    <tr>
        <th></th>
        <th></th>
        <th>Kód</th>
        <th class="text-left text-wide">Název zboží</th>
        <th class="text-center">Objednáno<br/>kartonů</th>
        <th class="text-center">Kusů v<br/>kartonu</th>
        <th>Cena/kus<br/>bez DPH</th>
        <th>Cena/litr<br/>bez DPH</th>
        <th>Cena/celkem<br/>bez DPH</th>
        <th>Sazba<br/>DPH</th>
        <th class="text-right"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="th-btn-details">
            <a href="#" class="btn btn-primary btn-blue btn-small btn-detail">
                <i class="icon-lupa"></i>
            </a>
        </th>
        <td class="th-product-attribs">
            <span class="legend-badge goods-like"></span>
            <span class="legend-badge goods-taken"></span>
            <span class="legend-badge sale"></span>
            <span class="legend-badge new"></span>
            <span class="legend-badge sold-out"></span>
            <span class="legend-badge recommended"></span>
            <span class="legend-badge in-stock"></span>
        </td>
        <td>1234567</td>
        <td class="product-descr text-left text-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</td>
        <td class="text-center text-bold">20 kar</td>
        <td class="text-center">60 ks</td>
        <td class="text-right text-bold">1 234 Kč</td>
        <td class="text-right text-bold">123 Kč</td>
        <td class="text-right text-bold">15 656 Kč</td>
        <td class="text-center">15 %</td>
        <td class="btn-add-to-cart text-right">
            <a href="#" class="btn btn-primary btn-red btn-small btn-delete">
                <i class="icon-menu_close"></i>
            </a>
        </td>
    </tr>
    <tr>
        <th class="th-btn-details">
            <a href="#" class="btn btn-primary btn-blue btn-small btn-detail">
                <i class="icon-lupa"></i>
            </a>
        </th>
        <td class="th-product-attribs">
            <span class="legend-badge goods-like"></span>
            <span class="legend-badge goods-taken"></span>
            <span class="legend-badge sale"></span>
            <span class="legend-badge new"></span>
            <span class="legend-badge sold-out"></span>
            <span class="legend-badge recommended"></span>
            <span class="legend-badge in-stock"></span>
        </td>
        <td>1234567</td>
        <td class="product-descr text-left text-bold">Název zboží</td>
        <td class="text-center text-bold">20 kar</td>
        <td class="text-center">60 ks</td>
        <td class="text-right text-bold">1 234 Kč</td>
        <td class="text-right text-bold">123 Kč</td>
        <td class="text-right text-bold">15 656 Kč</td>
        <td class="text-center">15 %</td>
        <td class="btn-add-to-cart text-right">
            <a href="#" class="btn btn-primary btn-red btn-small btn-delete">
                <i class="icon-menu_close"></i>
            </a>
        </td>
    </tr>
    <tr>
        <th class="th-btn-details">
            <a href="#" class="btn btn-primary btn-blue btn-small btn-detail">
                <i class="icon-lupa"></i>
            </a>
        </th>
        <td class="th-product-attribs">
            <span class="legend-badge goods-like"></span>
            <span class="legend-badge goods-taken"></span>
            <span class="legend-badge sale"></span>
            <span class="legend-badge new"></span>
            <span class="legend-badge sold-out"></span>
            <span class="legend-badge recommended"></span>
            <span class="legend-badge in-stock"></span>
        </td>
        <td>1234567</td>
        <td class="product-descr text-left text-bold">Název zboží</td>
        <td class="text-center text-bold">20 kar</td>
        <td class="text-center">60 ks</td>
        <td class="text-right text-bold">1 234 Kč</td>
        <td class="text-right text-bold">123 Kč</td>
        <td class="text-right text-bold">15 656 Kč</td>
        <td class="text-center">15 %</td>
        <td class="btn-add-to-cart text-right">
            <a href="#" class="btn btn-primary btn-red btn-small btn-delete">
                <i class="icon-menu_close"></i>
            </a>
        </td>
    </tr>
    <tr>
        <th class="th-btn-details">
            <a href="#" class="btn btn-primary btn-blue btn-small btn-detail">
                <i class="icon-lupa"></i>
            </a>
        </th>
        <td class="th-product-attribs">
            <span class="legend-badge goods-like"></span>
            <span class="legend-badge goods-taken"></span>
            <span class="legend-badge sale"></span>
            <span class="legend-badge new"></span>
            <span class="legend-badge sold-out"></span>
            <span class="legend-badge recommended"></span>
            <span class="legend-badge in-stock"></span>
        </td>
        <td>1234567</td>
        <td class="product-descr text-left text-bold">Název zboží</td>
        <td class="text-center text-bold">20 kar</td>
        <td class="text-center">60 ks</td>
        <td class="text-right text-bold">1 234 Kč</td>
        <td class="text-right text-bold">123 Kč</td>
        <td class="text-right text-bold">15 656 Kč</td>
        <td class="text-center">15 %</td>
        <td class="btn-add-to-cart text-right">
            <a href="#" class="btn btn-primary btn-red btn-small btn-delete">
                <i class="icon-menu_close"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>