<div class="card p-0 product-box border-0">
    <img class="d-block mx-auto img-fluid" src="DFTerminal/media/DFTerminal/Images/img-placeholder.png" alt="">
    <div class="card-body">
        <h4 class="card-title text-center">Delší název zboží dva řádky</h4>
    </div>
    <div class="card-footer p-0 border-top-0">
        <button class="btn btn-block btn-primary btn-white btn-transp"
                data-productId="1234567" data-btn-text="Do košíku">
            Cena/kus bez DPH:<span class="float-right text-bold">1 234 Kč</span><br/>
            Cena/litr bez DPH:<span class="float-right text-bold">123 Kč</span>
        </button>
    </div>
</div>