<div class="filter-wrapper">
    <a class="d-block filter-toggler collapsed" data-toggle="collapse" href="#viscosity-filter"
       aria-expanded="false" aria-controls="collapseExample">
        <span class="text-bold">Dle viskozity</span>
        <i class="icon-menu_arrow icon-flipped float-right mt-1"></i>
    </a>
    <div class="collapse" id="viscosity-filter">
        <div class="card card-body">
            <div class="btn-group-vertical" data-toggle="buttons">
                <label class="btn btn-check">
                    <input type="checkbox" checked autocomplete="off" name="category-filter" value="oils">
                    <span class="cat-name d-inline">0W-30</span>
                    <span class="items-amount">30</span>
                </label>
                <label class="btn btn-check">
                    <input type="checkbox" checked autocomplete="off" name="category-filter" value="fluids">
                    <span class="cat-name d-inline">0W-40</span>
                    <span class="items-amount">4</span>
                </label>
                <label class="btn btn-check">
                    <input type="checkbox" checked autocomplete="off" name="category-filter" value="car-accessories">
                    <span class="cat-name d-inline">5W-20</span>
                    <span class="items-amount">10</span>
                </label>
            </div>
        </div>
    </div>
</div>